* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
select {
    font-size: 100%;
}
a {
    text-decoration:none;
    color:#000000;
}
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
header .header-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    justify-content: space-between;
}
header .header-right .menu-choices {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: right;
    margin: 100px 50px 0 0;

    text-align: right;
}
.line {
    background-color: black;
    padding: 2px;
}
p {
    font-size:larger;
}
.menu-choices > a{
    font-size:x-large;
}
.menu-choices > a:hover {
    background-color:#f4ff55;
    font:bolder;
    height: 25px;
}
.menu {
    display: flex;
    margin: 20px;
    text-align:right;
}
.logo-image {
    width: 300px;
    margin: 50px 50px;
}
.catchline {
    text-align:left;
}
.line{
    background-color: black;
    padding: 2px;
}
/* styling for the gallery page*/
.cr1,
.cr2,
.cr3,
.cr4,
.cr5,
.cr6 {
    width:260px;
    margin: auto;
}
.cinnamon-roll-images{
    width: 250px;
    border:5px solid #000000;
}
.cr1:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.cr2:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.cr3:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.cr4:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.cr5:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.cr6:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.items-for-sale-one {
    display: flex;
    text-align:left;
    align-content: flex-start;
  }
  .items-for-sale-two {
    display: flex;
    text-align:left;
    align-content:flex-start;
  } 
/* styling for the cart page*/
.button-to-the-right {
    display: flex;
    justify-content:flex-end;
    margin-right: 70px;
}
.final-click {
    font-size:x-large;
    width: 150px;
    padding: 5px 20px 5px 20px;
    border:2px solid #000000;
}
.final-click:hover {
    background-color:#f4ff55;
}
.cart-main {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.cart-right {
    display: flex;
    flex-direction: column;
}
.cart-top {
    display: flex;
    flex-direction: column;
}
.cinnamon-rolls-top {
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.product-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.cart-top {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.product-image {
    width: 140px;
    margin: auto;
    display:block;
    border:2px solid #000000;
}
.remove {
    font-size:small;
    text-decoration:underline;
}
.cart-bottom {
    display: flex;
    flex-direction: column;
}
.line2{
    background-color: black;
    padding: 2px;
    width: 700px;
}
.checkout {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 30px 70px 30px 90px;
}
.total {
    font-size:x-large;
}
.add-to-cart:hover {
    background-color:#f4ff55;
}
/* styling for the details page*/
.details-main {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.cinnamon-roll-image {
    text-align:center;
    margin-right: 50px;
}
.cinnamon-roll{
    text-align:center;
    border: 5px solid rgb(0, 0, 0);
}
.product-info-middle {
    width: 300px;
}
.original{
    margin:auto;
    font-size:x-large;
    width: 300px;
}
.add-to-cart {
    margin: auto;
    margin-left: 10px;
    font-size:x-large;
    width: 300px;
    padding: 5px 15px 5px 15px;
    border:2px solid #000000;
}