body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
a {
    text-decoration:none;
    color:#000000;
}
button, select {
    font-family: inherit;
    font-size: 100%;
  }
.logo-image {
    width: 400px;
    margin: 50px 50px;
}
.products{
    text-align:center;
    max-width: 200px;
    margin: 20px auto;
    text-decoration:none;
}
.products:hover {
    background-color:#f4ff55;
    font:bold;
}
.cart{
    text-align:center;
    max-width: 140px;
    margin: 20px auto;
}
.cart:hover {
    background-color:#f4ff55;
    font:bold;
}
/* styling for the gallery page*/
.catch-line {
    text-align:center;
}
.cart-name {
    text-align:center;
}
.line{
    background-color: black;
    padding: 2px;
}
.details {
    text-align:center;
    max-width: 200px;
    margin: 20px auto;
}
.rolls{
    text-align:center;
    font-size:x-large;
}
.roll1{
    text-align:center;
    width: 400px;
    border: 5px solid rgb(0, 0, 0);
}
.original{
    margin:auto;
    font-size:x-large;
    width: 300px;
}
.button {
    background-color: white; 
    height: 50px;
    width: 150px;
    color: black; 
    border: 2px solid #000000;
}

.button:hover {
    background-color: #f4ff55;
    cursor: pointer;
}
.cr1 {
    width:310px;
    margin: auto;
}
.cr1:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.ocr {
    width: 300px;
    border:5px solid #000000;
}
.cr2 {
    width:310px;
    margin: auto;
}
.cr2:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.acr {
    width: 300px;
    border:5px solid #000000;
}
.cr3 {
    width:310px;
    margin: auto;
}
.cr3:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.rcr {
    width: 300px;
    border:5px solid #000000;
}
.cr4 {
    width:310px;
    margin: auto;
}
.cr4:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.wcr {
    width: 300px;
    border:5px solid #000000;
}
.cr5 {
    width:310px;
    margin: auto;
}
.cr5:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.dcr {
    width: 300px;
    border:5px solid #000000;
}
.cr6 {
    width:310px;
    margin: auto;
}
.cr6:hover {
    background-color:#f4ff55;
    border:5px solid #f4ff55;
}
.scr {
    width: 300px;
    border:5px solid #000000;
}
/* styling for the cart page*/
.cd {
    margin: auto;
    font-size:x-large;
    text-align:center;
}
.cart1 {
    width: 200px;
    margin: auto;
    display:block;
    border:2px solid #000000;
}
.remove {
    font-size:small;
    text-decoration:underline;
}
.line2{
    background-color: black;
    padding: 2px;
    width: 800px;
    margin: auto;
}
.checkout {
    margin: auto;
    text-align:center;
}
.total {
    font-size:x-large;
}